.vscode/**
.vscode-test/**
out/test/**
out/
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
build-config
tsconfig.json
webpack.config.json
**/*.psd